{% if request.user.is_authenticated and request.user.is_admin %}

<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a href="{% url 'dashboard:dashboard' %}" class="ai-icon" aria-expanded="false">
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <!-- <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <span class="nav-text">Orders</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'dashboard:orders' %}">All</a></li>
                    <li><a href="{% url 'dashboard:pending_orders' %}">New</a></li>
                    <li><a href="{% url 'dashboard:completed_orders' %}">Completed</a></li>
                    <li><a href="{% url 'dashboard:cancelled_orders' %}">Canceled</a></li>
                </ul>
            </li> -->
            <li><a href="{% url 'dashboard:orders' %}" class="ai-icon" aria-expanded="false">
                    <span class="nav-text">Orders</span>
                </a>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <span class="nav-text">Menu</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'dashboard:meals' %}">Meals</a></li>
                    <li><a href="{% url 'dashboard:add-meal' %}">Add New</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <span class="nav-text">Users</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'dashboard:users' %}">All</a></li>
                    <li><a href="{% url 'dashboard:customers' %}">Customers</a></li>
                    <li><a href="{% url 'dashboard:couriers' %}">Couriers</a></li>
                    <li><a href="{% url 'dashboard:create_update_user' %}">Create User</a></li>
                </ul>
            </li>
            <li><a href="{% url 'dashboard:payments' %}" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-settings-2"></i>
                    <span class="nav-text">Payments</span>
                </a>
            </li>
            <li><a href="{% url 'dashboard:delivery_locations' %}" class="ai-icon" aria-expanded="false">
                    <span class="nav-text">Delivery Locations</span>
                </a>
            </li>
            <li><a href="{% url 'dashboard:profile' %}" class="ai-icon" aria-expanded="false">
                    <span class="nav-text">Profile</span>
                </a>
            </li>
        </ul>
        <div class="copyright">
            <p><strong>Cinder Meals </strong> © {% now 'Y' %} All Rights Reserved</p>

        </div>
    </div>
</div>

{% elif request.user.is_authenticated and request.user.is_courier %}


<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
          
            <!-- <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <span class="nav-text">Orders</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'dashboard:orders' %}">All</a></li>
                    <li><a href="{% url 'dashboard:pending_orders' %}">New</a></li>
                    <li><a href="{% url 'dashboard:completed_orders' %}">Completed</a></li>
                    <li><a href="{% url 'dashboard:cancelled_orders' %}">Canceled</a></li>
                </ul>
            </li> -->
            <li><a href="{% url 'dashboard:orders' %}" class="ai-icon" aria-expanded="false">
                    <span class="nav-text">Orders</span>
                </a>
            </li>
            <li><a  href="{% url 'dashboard:meals' %}" aria-expanded="false">
                    <span class="nav-text">Meals</span>
                </a>
                
            </li>
            <li><a href="{% url 'dashboard:couriers' %}" aria-expanded="false">
                    <span class="nav-text">Couriers</span>
                </a>
                
            </li>

            <li><a href="{% url 'dashboard:delivery_locations' %}" class="ai-icon" aria-expanded="false">
                    <span class="nav-text">Delivery Locations</span>
                </a>
            </li>
            <li><a href="{% url 'dashboard:profile' %}" class="ai-icon" aria-expanded="false">
                    <span class="nav-text">Profile</span>
                </a>
            </li>
        </ul>
        <div class="copyright">
            <p><strong>Cinder Meals </strong> © {% now 'Y' %} All Rights Reserved</p>

        </div>
    </div>
</div>

{% endif %}