{% extends 'base/base.html' %}
{% block page_title %}Create/Update Meal{% endblock %}
{% block content %}


<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Add Meal </h4>
          <p class="mb-0"></p>
        </div>
      </div>

      {% include "blocks/alert_messages.html" %}
      <!-- Form-->
      <form method="POST" action="{% url 'dashboard:add-meal' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="meal_id" value="{{ meal.id|default:'' }}">

        <div class="form-group">
          <label for="meal-image">Meal Image</label>
          {% if meal.image %}
          <div class="mb-3">
            <img id="preview" src="{{ meal.image.url }}" alt="Image Preview"
              style="width: 300px; height: auto; display: block; margin: auto;">
          </div>
          {% else %}
          <div class="mb-3">
            <img id="preview" src="#" alt="Image Preview" style="width: 300px; height: auto; display: none;">
          </div>
          {% endif %}
          <input type="file" class="form-control" id="meal-image" name="image" {% if meal.image.url %}
            {{ meal.image.url }} {% endif %} onchange="previewImage(event)" {% if not meal.id %}required{% endif %}>
        </div>

        <div class="form-group">
          <label for="meal-title">Title</label>
          <input type="text" class="form-control" id="meal-title" name="title" placeholder="Enter the title of the meal"
            value="{{ meal.title|default:'' }}" required>
        </div>

        <div class="form-group">
          <label for="meal-type">Meal type</label>
          <select class="form-control" id="meal-type" name="type" required>
            <option value="">-- Select meal type --</option>
            <option value="Any" {% if meal.type == "Any" %}selected{% endif %}>Any</option>
            <option value="Break Fast" {% if meal.type == "Break Fast" %}selected{% endif %}>Break Fast</option>
            <option value="Lunch" {% if meal.type == "Lunch" %}selected{% endif %}>Lunch</option>
            <option value="Dinner" {% if meal.type == "Dinner" %}selected{% endif %}>Dinner</option>
            <option value="Beverages" {% if meal.type == "Beverages" %}selected{% endif %}>Beverages</option>
          </select>
        </div>

        <div class="form-group">
          <label for="meal-description">Description</label>
          <textarea class="form-control" id="meal-description" name="description" rows="5"
            placeholder="Enter the description of the meal">{{ meal.description|default:'' }}</textarea>
        </div>

        <div class="form-group">
          <label for="meal-price">Price</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">₵</span>
            </div>
            <input type="number" class="form-control" id="meal-price" name="price" placeholder="0.00" min="0"
              step="0.01" value="{{ meal.price|default:'' }}" required>
          </div>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="meal-publish" name="publish" value="on"
            {% if meal and meal.published %}checked{% else %}checked{% endif %} required>
          <label class="form-check-label" for="meal-publish">Publish</label>
        </div>


        <button type="submit" class="btn btn-primary mt-3">{% if meal.id %}Update{% else %}Create{% endif %}</button>
      </form>
    </div>


  </div>
</div>

{% endblock %}
{% block scripts %}

<script>
  function previewImage(event) {
    var preview = document.getElementById("preview");
    var file = event.target.files[0];
    var reader = new FileReader();

    reader.onload = function () {
      preview.src = reader.result;
      preview.style.display = "block";
    };

    if (file) {
      reader.readAsDataURL(file);
    } else {
      preview.src = "#";
      preview.style.display = "none";
    }
  }
</script>


<script src="/static/vendor/highlightjs/highlight.pack.min.js"></script>
{% endblock %}
