{% extends "base/base.html" %}
{% block page_title %}Create/Update User{% endblock page_title %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row justify-content-center h-100 text-align-center">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{% if user_found %}Update User{% else %}Create User

                            {% endif %}</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form action="{% url 'dashboard:create_update_user' %}" method="post"
                                enctype="multipart/form-data" autocomplete="off">
                                {% include "blocks/alert_messages.html" %}
                                {% csrf_token %}
                                <div class="row">
                                    <!-- fix upload profile later -->
                                    <!-- <div class="mb-3 col-md-6">
                                        <div class="avatar-upload">
                                            <div class="avatar-edit">
                                                <input type="file" name="avatar" accept="image/*" id="id_avatar">
                                                <label for="id_avatar"><i class="fas fa-pencil-alt"></i></label>
                                            </div>
                                            <div class="avatar-preview">
                                                <div id="imagePreview"
                                                    style="background-image: url('/media/default/default.gif');">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-danger w-100 d-block mt-1">
                                        </div>
                                    </div> -->
                                    <input type="hidden" name="user_id" value="{{user_found.id}}">
                                    <div class="row col-md-12">
                                        <div class="mb-3 col-md-12">
                                            <label class="form-label">Full Name
                                                {% if not user_found %}
                                                <span class="text-danger">*</span>
                                                {% endif %}
                                            </label>
                                            <input type="text" name="fullname" placeholder="Full Name"
                                                value="{{user_found.fullname}}" class="form-control"
                                                {% if not user_found %}required {% endif %} id="id_fullname">
                                            <div class="text-danger w-100 d-block mt-1">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-12">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label">Email
                                                {% if not user_found %}
                                                <span class="text-danger">*</span>
                                                {% endif %}
                                            </label>
                                            <input type="email" name="email" maxlength="254" placeholder="Email"
                                                value="{{user_found.email}}" class="form-control"
                                                {% if not user_found %}required {% endif %} id="id_email">
                                            <div class="text-danger w-100 d-block mt-1">

                                            </div>
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label">Phone Number
                                                {% if not user_found %}
                                                <span class="text-danger">*</span>
                                                {% endif %}
                                            </label>
                                            <input type="text" name="phone_number" placeholder="Phone Number"
                                                value="{{user_found.phone}}" class="form-control"
                                                {% if not user_found %}required {% endif %} id="id_phone_number">
                                            <div class="text-danger w-100 d-block mt-1">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-12">
                                        <div class="mb-3 col-md-4 custom-user">
                                            <label class="form-label">Role </label>
                                            <select name="group" class="form-control" id="id_group">
                                                <option value="{{group}}" selected>Choose Group</option>
                                                <option value="Admin">Admin</option>

                                                <option value="Courier">Courier</option>

                                                <option value="Customer">Customer</option>

                                            </select>
                                            <div class="text-danger w-100 d-block mt-1">

                                            </div>
                                        </div>
                                        <div class="mb-3 col-md-4 custom-user">
                                            <label class="form-label">Gender
                                                {% if not user_found %}
                                                <span class="text-danger">*</span>
                                                {% endif %}
                                            </label>
                                            <select name="gender" class="form-control from-height-1 default-select wide"
                                                required id="id_gender">
                                                <option value="{{user_found.gender}}" selected>Choose gender</option>

                                                <option value="Male">Male</option>

                                                <option value="Female">Female</option>

                                            </select>
                                            <div class="text-danger w-100 d-block mt-1 ">

                                            </div>
                                        </div>
                                        {% if user_found %}

                                        <div class="mb-3 col-md-4 custom-date-picker">
                                            <label class="form-label">Date of Birth
                                                {% if not user_found %}
                                                <span class="text-danger">*</span>
                                                {% endif %}
                                            </label>

                                            <input type="date" class="form-control" name="dob"
                                                value="{{user_found.dob}}"
                                                id="id_dob">
                                            <div class="text-danger w-100 d-block mt-1">

                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% if not user_found %}
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Password <span class="text-danger">*</span></label>
                                        <div class="input-group transparent-append">
                                            <input type="password" name="password" id="dz-password" value="{{password}}" placeholder="Password" class="form-control"
                                                required>
                                            <div class="text-danger w-100 d-block mt-1">

                                            </div>

                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Confirm Password <span
                                                class="text-danger">*</span></label>
                                        <div class="input-group transparent-append">
                                            <input type="password" name="confirm" id="dz-con-password"
                                                value="{{confirm}}" placeholder="Confirm Password" class="form-control"
                                                required>
                                            <div class="text-danger w-100 d-block mt-1">

                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-4 mb-5">
                                        {% if user_found %}
                                        Update
                                        {% else %}
                                        Create
                                        {% endif %}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}