{% extends "base/base.html" %}
{% block page_title %}Create/Update User{% endblock page_title %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">New User Form</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form action="{% url 'dashboard:create_update_user' %}" method="post"
                                enctype="multipart/form-data" novalidate autocomplete="off">
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>{{ message }}</strong>
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% csrf_token %}
                                <div class="row">
                                    <!-- fix upload profile later -->
                                    <!-- <div class="mb-3 col-md-6">
                                        <div class="avatar-upload">
                                            <div class="avatar-edit">
                                                <input type="file" name="avatar" accept="image/*" id="id_avatar">
                                                <label for="id_avatar"><i class="fas fa-pencil-alt"></i></label>
                                            </div>
                                            <div class="avatar-preview">
                                                <div id="imagePreview"
                                                    style="background-image: url('/media/default/default.gif');">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-danger w-100 d-block mt-1">
                                        </div>
                                    </div> -->
                                    <div class="row col-md-12">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label">First Name <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" name="first_name" placeholder="First Name" value="{{first_name}}"
                                                class="form-control" required id="id_first_name">
                                            <div class="text-danger w-100 d-block mt-1">

                                            </div>
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label">Last Name <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" name="last_name" placeholder="Last Name" value="{{last_name}}"
                                                class="form-control" required id="id_last_name">
                                            <div class="text-danger w-100 d-block mt-1">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Email <span class="text-danger">*</span> </label>
                                        <input type="email" name="email" maxlength="254" placeholder="Email" value="{{email}}"
                                            class="form-control" required id="id_email">
                                        <div class="text-danger w-100 d-block mt-1">

                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Phone Number <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" name="phone_number" placeholder="Phone Number" value="{{phone_number}}"
                                            class="form-control" required id="id_phone_number">
                                        <div class="text-danger w-100 d-block mt-1">

                                        </div>
                                    </div>


                                    <div class="row col-md-12">
                                        <div class="mb-3 col-md-4 custom-user">
                                            <label class="form-label">Role </label>
                                            <select name="group" class="form-control" id="id_group">
                                                <option value="{{group}}" selected>Choose Group</option>
                                                <option value="Admin">Admin</option>

                                                <option value="Courier">Courier</option>

                                                <option value="Customer">Customer</option>

                                            </select>
                                            <div class="text-danger w-100 d-block mt-1">

                                            </div>
                                        </div>
                                        <div class="mb-3 col-md-3 custom-user">
                                            <label class="form-label">Gender <span class="text-danger">*</span></label>
                                            <select name="gender" class="form-control from-height-1 default-select wide"
                                                required id="id_gender">
                                                <option value="{{gender}}" selected>Choose gender</option>

                                                <option value="Male">Male</option>

                                                <option value="Female">Female</option>

                                            </select>
                                            <div class="text-danger w-100 d-block mt-1 ">

                                            </div>
                                        </div>
                                        <div class="mb-3 col-md-3 custom-date-picker">
                                            <label class="form-label">Date of Birth <span
                                                    class="text-danger">*</span></label>

                                            <input type="date" name="dob" value="{{dob}}" class="form-control" required id="id_dob">
                                            <div class="text-danger w-100 d-block mt-1">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Password <span class="text-danger">*</span></label>
                                        <div class="input-group transparent-append">
                                            <input type="password" name="password" id="dz-password" value="{{password}}"
                                                placeholder="Password" class="form-control" required>
                                            <div class="text-danger w-100 d-block mt-1">

                                            </div>

                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Confirm Password <span
                                                class="text-danger">*</span></label>
                                        <div class="input-group transparent-append">
                                            <input type="password" name="confirm" id="dz-con-password" value="{{confirm}}"
                                                placeholder="Confirm Password" class="form-control" required>
                                            <div class="text-danger w-100 d-block mt-1">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-secondary mt-4 mb-5 ">Save</button>
                                <a href="/" class="btn btn-primary mt-4 mb-5">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}