{% extends "base/base.html" %}
{% block page_title %}Customers{% endblock %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="col-lg-12">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-header flex-wrap">
                    <h4 class="card-title mb-2">List of All Customers</h4>
                    <div class="d-flex mb-2">
                        <button type="submit" id="delete_multiple_btn"
                            class="btn light btn-outline-primary btn-sm mx-2 ">Delete</button>
                            <!-- <button type="button" class="btn btn-primary light d-flex text-align-center svg-btn mx-3" data-toggle="dropdown" aria-expanded="false">
                                <svg width="16" class="scale5" height="16" viewBox="0 0 22 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.16647 27.9558C9.25682 27.9856 9.34946 28.0001 9.44106 28.0001C9.71269 28.0001 9.97541 27.8732 10.1437 27.6467L21.5954 12.2248C21.7926 11.9594 21.8232 11.6055 21.6746 11.31C21.526 11.0146 21.2236 10.8282 20.893 10.8282H13.1053V0.874999C13.1053 0.495358 12.8606 0.15903 12.4993 0.042327C12.1381 -0.0743215 11.7428 0.0551786 11.5207 0.363124L0.397278 15.7849C0.205106 16.0514 0.178364 16.403 0.327989 16.6954C0.477614 16.9878 0.77845 17.1718 1.10696 17.1718H8.56622V27.125C8.56622 27.5024 8.80816 27.8373 9.16647 27.9558ZM2.81693 15.4218L11.3553 3.58389V11.7032C11.3553 12.1865 11.7471 12.5782 12.2303 12.5782H19.1533L10.3162 24.479V16.2968C10.3162 15.8136 9.92444 15.4218 9.44122 15.4218H2.81693Z" fill="#ed7014"/></svg>
                                <span class="fs-16 ml-3">Filter</span>
                                <i class="fa fa-angle-down scale5 ml-3"></i>
                            </button> -->
                        <a href="{% url 'dashboard:create_update_user' %}" class="btn btn-primary btn-sm fs-16">ADD USER <span class="btn-icon-end">
                                <i class="fa fa-plus"></i></span>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-responsive-md">
                            <thead>
                                <tr>
                                    <th style="width:50px;">
                                        <div class="form-check custom-checkbox checkbox-primary check-lg mx-3">
                                            <input type="checkbox" class="form-check-input" id="checkAll" value="">
                                            <label class="form-check-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Groups</th>
                                    <th>Mobile</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <input type="hidden" name="csrfmiddlewaretoken"
                                    value="lgjqofQB7x0e2DpSajhemS3xPwjvpnrsn40fSg2Kc6EthoJJtAOILrOPTeFXS0B4">
                                {% for customer in customers %}
                                <tr id="{{forloop.counter}}">
                                    <td>
                                        <div class="form-check custom-checkbox checkbox-primary check-lg mx-3">
                                            <input name="{{customer.id}}" type="checkbox" class="form-check-input" value="2">
                                            <label class="form-check-label" for="checkbox-2"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="/customer-details/2/">
                                            <div class="d-flex text-align-center">
                                                <div class="w-space-no">{{customer.fullname}}</div>
                                            </div>
                                        </a>
                                    </td>
                                    <td><strong>{{customer.email}}</strong></td>
                                    <td>{{customer.gender}}</td>
                                    <td>

                                        <span class="badge  badge-xs badge-primary light">Admin</span>

                                    </td>
                                    <td>{{customer.phone}}</td>
                                    <td>
                                        <div class="d-flex text-align-center">
                                            <i class="fa fa-circle text-success mx-1"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="sweetalert">
                                            <div class="d-flex">
                                                <!-- <a href="/assign-permissions-to-customer/2/"
                                                    class="btn btn-success shadow btn-xs sharp mx-1"><i
                                                        class="fa fa-shield"></i></a> -->
                                                <a href="/edit-customer/2/"
                                                    class="btn btn-primary shadow btn-xs sharp mx-1"><i
                                                        class="fa fa-pencil"></i></a>
                                                <a href="/delete-customer/2/"
                                                    class="btn btn-danger shadow btn-xs sharp sweet-success-cancel"><i
                                                        class="fa fa-trash"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <nav mt-5>
                        <p>
                            <span class="current">
                                Page 1 of 3.
                            </span>
                        </p>
                        <ul class="pagination pagination-gutter  justify-content-end">

                            <li class="page-item page-indicator ">
                                <a class="page-link" href="
                                                        javascript:void(0);
                                                        ">
                                    <i class="la la-angle-left"></i></a>
                            </li>
                            <li class="page-item 
                                            active"><a class="page-link" href="?page=1">1</a></li>
                            <li class="page-item "><a class="page-link" href="?page=2">2</a></li>
                            <li class="page-item "><a class="page-link" href="?page=3">3</a></li>
                            <li class="page-item page-indicator ">
                                <a class="page-link" href="
                                                    ?page=2
                                                    ">
                                    <i class="la la-angle-right"></i></a>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}