{% extends 'base/base.html' %}
{% block page_title %}Meals{% endblock %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Available Meals </h4>
                    <p class="mb-0">All available dishes </p>
                </div>
            </div>



        </div>
        <div class="">
            {% include "blocks/alert_messages.html" %}
        </div>
        <div class="row">
            {% for meal in meals %}

            <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="dropdown ml-auto text-right dropup">
                            <div class="btn-link" data-toggle="dropdown">
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                        <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                        <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                    </g>
                                </svg>
                            </div>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"
                                    href="{% url 'dashboard:order_detail' %}?order_id={{meal.id}}">View
                                </a>
                                <a class="dropdown-item"
                                    href="{% url 'dashboard:add-meal' %}?edit_meal_id={{meal.id}}"> Edit
                                </a>
                                <a class="dropdown-item"
                                    href="{% url 'dashboard:meals' %}?delete_meal_id={{meal.id}}"> Delete
                                </a>
                            </div>
                        </div>
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <img class="img-fluid" src="{{meal.image.url}}" alt="">
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4>{{meal.title}}</h4>
                                <ul class="star-rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-half-empty"></i></li>
                                    <li><i class="fa fa-star-half-empty"></i></li>
                                </ul>
                                <span class="price">₵ {{meal.price}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>
</div>



</div>
</div>
</div>
{% endblock %}
{% block scripts %}



<script src="/static/vendor/highlightjs/highlight.pack.min.js"></script>
{% endblock %}