{% extends "base/base.html" %}
{% block page_title %}Delivery Locations{% endblock page_title %}
{% block content %}
<div class="content-body">
    <!-- row -->
    <h2 class="card-header-title h4 text-uppercase ">
        <a href="javascript: void(0);"  >
            Total Amount: 
        </a>GHC {{ total }}.00
    </h2> 

    <div class="container-fluid">
        <div class="form-head d-flex mb-3 align-items-start">
            <div class="mr-auto d-none d-lg-block">
                <h2 class="text-black font-w600 mb-0">Payments </h2>
                <p class="mb-0">Here is a list of transactions on orders </p>
            </div>
            

        <div class="row">
            <div class="col-12">
                {% include "blocks/alert_messages.html" %}
                <div class="table-responsive">
                    <table id="example5" class="display mb-4 dataTablesCard" style="min-width: 845px;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th> Customer</th>
                                <th> Network</th>
                                <th>Phone number</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for objects in payments%}
                            <tr>
                                <td>#{{ objects.payment_id }}</td>
                                <td>{{ objects.user }}</td>
                                <td>{{ objects.network }}</td>
                                <td>{{ objects.phone }}</td>
                                <td>{{ objects.date }}</td>s

                                <td>
                                    <div class="sweetalert">
                                        <div class="d-flex">
                                            <button class="btn btn-primary shadow btn-xs sharp mx-1" data-toggle="modal"
                                                data-location_id="{{ detail.id }}"
                                                data-location_name="{{ detail.name }}"
                                                data-location_price="{{ detail.delivery_fee }}"
                                                data-target="#exampleModalLong" aria-expanded="false"><i
                                                    class="fa fa-pencil"></i></button>

                                            <a href="{% url 'dashboard:delivery_locations' %}?delivery_id={{detail.id}}"
                                                class="btn btn-danger shadow btn-xs sharp sweet-success-cancel"><i
                                                    class="fa fa-trash"></i></a>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">

</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Delivery Location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'dashboard:delivery_locations' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Location Name</label>
                        <input type="text" class="form-control" name="name" id="location-name"
                            aria-describedby="emailHelp" placeholder="Enter Location Name" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Location Charge</label>
                        <input type="number" class="form-control" name='delivery_fee' id="location-price"
                            aria-describedby="emailHelp" placeholder="Enter Location Charge" required>
                    </div>
                    <input type="hidden" name="location_id" id="location-id">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" type="button" class="btn btn-primary">Save</button>
                    </div>
                </form>

            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" type="button" class="btn btn-primary">Save</button>
            </div> -->
        </div>
    </div>
</div>


{% endblock content %}
{% block scripts %}
<script src="/static/vendor/datatables/js/jquery.dataTables.min.js"></script>

<script>
    (function ($) {

        var table = $('#example5').DataTable({
            searching: false,
            paging: true,
            select: false,
            //info: false,         
            lengthChange: false

        });
        $('#example tbody').on('click', 'tr', function () {
            var data = table.row(this).data();

        });

    })(jQuery);
</script>
<script>
    $(document).ready(function () {
        $('#exampleModalLong').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var location_id = button.data('location_id')
            var location_name = button.data('location_name')
            var location_price = button.data('location_price')
            var modal = $(this)
            modal.find('#location-id').val(location_id)
            modal.find('#location-name').val(location_name)
            modal.find('#location-price').val(location_price)
        })
    })
</script>
{% endblock %}