{% extends "base/base.html" %}
{% block page_title %}Profile{% endblock %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi {{request.user.get_short_name}}, welcome back!</h4>
                    <p class="mb-0">Your profile page</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'dashboard:profile' %}">Profile</a></li>
                </ol>
            </div>
        </div>
        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">

                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <img src="dashboard/images/avatar/1.jpg"
                                alt="Profile" class="rounded-circle">
                            <div class="card-header">
                                <h3 class="d-flex px-0 justify-content-center">{{request.user.get_full_name}}</h3>
                            </div>
                            <h3 class="card-title">{{request.user.get_user_role}}</h3>
                            <div class="social-links mt-2">
                                <a href="#" class="twitter"><i class="la la-twitter"></i></a>
                                <a href="#" class="facebook"><i class="la la-facebook"></i></a>
                                <a href="#" class="instagram"><i class="la la-instagram"></i></a>
                                <a href="#" class="linkedin"><i class="la la-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#profile-overview">Overview</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit
                                        Profile</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab"
                                        data-bs-target="#profile-settings">Settings</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab"
                                        data-bs-target="#profile-change-password">Change Password</button>
                                </li>

                            </ul>
                            <div class="tab-content pt-2">

                                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                    <h4 class="">Profile Details</h4>
                                    <div class="row mx-5">
                                        <div class="col-3">
                                            <h5 class="">Full Name :</h5>
                                        </div>
                                        <div class="col-9">
                                            <h5 class="">{{request.user.get_full_name}}</>
                                        </div>
                                    </div>
                                    <div class="row mx-5">
                                        <div class="col-3">
                                            <h4 class="">Role :</h4>
                                        </div>
                                        <div class="col-9">
                                            <h6 class="">{{request.user.get_user_role}}</h6>
                                        </div>
                                    </div>
                                    <div class="row mx-5">
                                        <div class="col-3">
                                            <h4 class="">Email :</h4>
                                        </div>
                                        <div class="col-9">
                                            <h6 class="">{{request.user.email}}</h6>
                                        </div>
                                    </div>
                                    <div class="row mx-5">
                                        <div class="col-3">
                                            <h4 class="">Gender :</h4>
                                        </div>
                                        <div class="col-9">
                                            <h6 class="">{{request.user.sex}}</h6>
                                        </div>
                                    </div>
                                    <div class="row mx-5">
                                        <div class="col-3">
                                            <h4 class="">Phone :</h4>
                                        </div>
                                        <div class="col-9">
                                            <h6 class="">{{request.user.phone}}</h6>
                                        </div>
                                    </div>
                                    <div class="row mx-5">
                                        <div class="col-3">
                                            <h4 class="">Date of Birth:</h4>
                                        </div>
                                        <div class="col-9">
                                            <h6 class="">{{request.user.date_of_birth}}</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                    <!-- Profile Pic Edit -->
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">
                                            <h6>Profile Image</h6>
                                        </label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="dashboard/images/avatar/1.jpg"
                                                alt="Profile" class="rounded-circle">
                                            <div class="pt-2">
                                                <form action="{% url 'dashboard:dashboard' %}"
                                                    method="post"
                                                    data-message="Are you sure you want to delete this profile?"
                                                    class="requires-confirmation">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="user_id" value="{{request.user.id}}">
                                                    <button type="button" class="btn btn-sm btn-primary"
                                                        title="Upload new profile image" data-bs-toggle="modal"
                                                        data-bs-target="#uploadProfilePicModal">
                                                        <i class="la la-upload"></i>
                                                    </button>
                                                    <button type="submit" class="btn btn-danger btn-sm"><i
                                                            class="la la-trash"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Profile Pic Edit -->
                                    <!-- Profile Edit form -->
                                    <!-- End profile edit form -->

                                </div>

                                <div class="tab-pane fade pt-3" id="profile-settings">

                                    <!-- Settings Form -->
                                    <form>

                                        <div class="row mb-3">
                                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email
                                                Notifications</label>
                                            <div class="col-md-8 col-lg-9">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="changesMade"
                                                        checked>
                                                    <label class="form-check-label" for="changesMade">
                                                        Changes made to your account
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="newProducts"
                                                        checked>
                                                    <label class="form-check-label" for="newProducts">
                                                        Information on new products and services
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="proOffers">
                                                    <label class="form-check-label" for="proOffers">
                                                        Marketing and promo offers
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="securityNotify"
                                                        checked disabled>
                                                    <label class="form-check-label" for="securityNotify">
                                                        Security alerts
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </div>
                                    </form><!-- End settings Form -->

                                </div>

                                <div class="tab-pane fade pt-3" id="profile-change-password">
                                    <!-- Change Password Form -->
                                    <form action="{% url 'dashboard:dashboard' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="user_id" value="{{request.user.id}}">
                                        <div class="row mb-3">
                                            <label for="currentPassword"
                                                class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="current_password" type="password" class="form-control"
                                                    id="currentPassword">
                                            </div>
                                        </div>

                                        
                                        

                                        <div class="row mb-3">
                                            <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New
                                                Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="new_password" type="password" class="form-control"
                                                    id="newPassword">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter
                                                New Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="confirm_password" type="password" class="form-control"
                                                    id="renewPassword">
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Change Password</button>
                                        </div>
                                    </form><!-- End Change Password Form -->

                                </div>

                            </div><!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}