{% extends "base/base.html" %}
{% block page_title %}Users{% endblock %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        {% if users %}
        <div class="col-lg-12">
            {% include "blocks/alert_messages.html" %}
            <div class="card">
                <div class="card-header flex-wrap">
                    <h4 class="card-title mb-2">List of All Users</h4>
                    <div class="d-flex mb-2">
                        <button type="submit" id="delete_multiple_btn"
                            class="btn light btn-outline-primary btn-sm mx-2 ">Delete</button>
                        <a href="{% url 'dashboard:create_update_user' %}" class="btn btn-primary btn-sm ">ADD USER
                            <span class="btn-icon-end">
                                <i class="fa fa-plus"></i></span>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-responsive-md">
                            <thead>
                                <tr>
                                    <th style="width:50px;">
                                        <div class="form-check custom-checkbox checkbox-primary check-lg mx-3">
                                            <input type="checkbox" class="form-check-input" id="checkAll" value="">
                                            <label class="form-check-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Groups</th>
                                    <th>Mobile</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <input type="hidden" name="csrfmiddlewaretoken"
                                    value="lgjqofQB7x0e2DpSajhemS3xPwjvpnrsn40fSg2Kc6EthoJJtAOILrOPTeFXS0B4">
                                {% for user in users %}
                                <tr id="{{forloop.counter}}">
                                    <td>
                                        <div class="form-check custom-checkbox checkbox-primary check-lg mx-3">
                                            <input name="{{user.id}}" type="checkbox" class="form-check-input"
                                                value="2">
                                            <label class="form-check-label" for="checkbox-2"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="/user-details/2/">
                                            <div class="d-flex text-align-center">
                                                <div class="w-space-no">{{user.fullname}}</div>
                                            </div>
                                        </a>
                                    </td>
                                    <td><strong>{{user.email}}</strong></td>
                                    <td>{{user.gender}}</td>
                                    <td>

                                        <span class="badge  badge-xs badge-primary light">
                                            {% if user.is_admin %}
                                            Admin
                                            {% elif user.is_customer %}
                                            Customer
                                            {% elif user.is_courier %}
                                            Courier
                                            {% endif %}
                                        </span>

                                    </td>
                                    <td>{{user.phone}}</td>
                                    <td>
                                        <div class="d-flex text-align-center">
                                            <i class="fa fa-circle text-success mx-1"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="sweetalert">
                                            <div class="d-flex">
                                                <!-- <a href="/assign-permissions-to-user/2/"
                                                    class="btn btn-success shadow btn-xs sharp mx-1"><i
                                                        class="fa fa-shield"></i></a> -->
                                                <a href="#"
                                                    class="btn btn-primary shadow btn-xs sharp mx-1"><i
                                                        class="fa fa-pencil"></i></a>
                                                <a href="{% url 'dashboard:create_update_user' %}?delete_user_id={{user.id}}"
                                                    class="btn btn-danger shadow btn-xs sharp sweet-success-cancel"><i
                                                        class="fa fa-trash"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <nav mt-5>
                        <p>
                            <span class="current">
                                Page 1 of 3.
                            </span>
                        </p>
                        <ul class="pagination pagination-gutter  justify-content-end">

                            <li class="page-item page-indicator ">
                                <a class="page-link" href="
                                                        javascript:void(0);
                                                        ">
                                    <i class="la la-angle-left"></i></a>
                            </li>
                            <li class="page-item 
                                            active"><a class="page-link" href="?page=1">1</a></li>
                            <li class="page-item "><a class="page-link" href="?page=2">2</a></li>
                            <li class="page-item "><a class="page-link" href="?page=3">3</a></li>
                            <li class="page-item page-indicator ">
                                <a class="page-link" href="
                                                    ?page=2
                                                    ">
                                    <i class="la la-angle-right"></i></a>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img src="/images/empty.png" class="img-fluid" alt="empty">
                        <h3 class="mt-4">No Data Found</h3>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}